.conteneur{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.barre{
	width: 60%;
	text-align: center;
	margin-bottom: 5%;
}

img{
	width: 150px;
	height: 150px;
}


.icon{
	width: 20%;	
	transform: scaleX(-1); /* Permet de faire pivoter les logos */
	text-align: center;
	transition-duration: 0.5s;
}

.icon:hover{
	transform: scaleX(1);
}

.icon1{
	width: 20%;
	text-align: center;
	transition-duration: 0.5s;
}

.icon1:hover{
	transform: scaleX(-1);
}

.boite{
	margin-top: 100px;
	width: 20%;
	margin-right: auto;
	margin-left: auto;
	border: solid 5px #0093fe;
	background-color: #e5823a;
	box-shadow: 5px 5px 2px 1px black;
	border-radius: 20px;
}

.boite > div{
	padding-left: 8px;
	overflow: hidden;
}

h2{
	border-bottom: solid 5px white;
	text-align: center;
	overflow-wrap: break-word;
}

body{
	background-color: #0C6D75;
	margin: 80px;
	color: white;
	font-family: 'Permanent Marker', cursive;
	margin-top: 40px;
	margin: none;
}

label{
	font-size: 50px;
}

input{
	width: 60%;
	background: none;
	border: none;
	border-bottom: solid 3px white;
	color: white;
	font-size: 25px;
	font-family: 'Permanent Marker', cursive;
}

a{
	color: white;
	text-decoration: none;
}

.heure{
	width: 50%;
	text-align: left;
	font-size: xx-large;
	padding-bottom: 50px;
	color: darkgray;
}

.date{
	width: 50%;
	text-align: right;
	font-size: xx-large;
	color: darkgray;
}

.API{
	padding-top: 60px;
	text-align: center;
	font-size: x-large;
}

.moteur{
	width: 5%;
	flex-basis: content;
	margin-left: 20px;
	margin-right: 20px;
}

.logo{
	width: 50px;
	height: 50px;
	opacity: 50%;
	border-radius: 10px;
	transition-duration: 0.6s;
}

#actif{
	box-shadow: 0px 0px 5px 5px lightblue;
	opacity: 100%;
}

.ciel{
	position: fixed;
	z-index: -3;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(180deg, #0D1222, #0C1433, #268999);
}

.moon{
	position: fixed;
	z-index: -1;
	top: 10px;
	right: 50px;
	height: 150px;
	width: 150px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: 20px 15px wheat;
}

.stars{
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 50%;
	z-index: -1;
	animation-name: twinkle;
	animation-iteration-count: infinite;
}

.star1{
	position: fixed;
	top: 160px;
	left: 100px;
	animation-duration: 1s;
}

.star2{
	position: fixed;
	top: 60px;
	right: 300px;
	animation-duration: 1.5s;
}

.star3{
	position: fixed;
	top: 50px;
	left: 600px;
	animation-duration: 1.2s;
}

.star4{
	position: fixed;
	top: 150px;
	right: 800px;
	animation-duration: 1.8s;
}

.hill{
	position: fixed;
	width: 70%;
	height: 100%;
	bottom: -60vh;
	left: -20vw;
	background-color: darkslategrey;
	border-radius: 50%;
	z-index: -2;
}

.hill2{
	position: fixed;
	width: 70%;
	height: 82%;
	bottom: -32vh;
	right: -8vw;
	background-color: darkslategrey;
	border-radius: 50%;
	z-index: -2;
}

#cloud1{
	position: absolute;
	transform: scale(5);
	top: 50px;
	left: 330px;
	z-index: -1;
	opacity: 50%;
}

#cloud2{
	position: absolute;
	transform: scale(5);
	top: 250px;
	left: 750px;
	z-index: -1;
	opacity: 50%;
}

#cloud3{
	position: absolute;
	transform: scale(5);
	top: 100px;
	right: 470px;
	z-index: -1;
	opacity: 50%;
}

#tree1{
	position: absolute;
	transform: scale(5);
	bottom: 200px;
	left: 100px;
	z-index: -1;
	color: #0a220C;
}

#tree2{
	position: absolute;
	transform: scale(5);
	bottom: 130px;
	left: 570px;
	z-index: -1;
	color: #0a220C;
}

#tree3{
	position: absolute;
	transform: scale(5);
	bottom: 140px;
	left: 1050px;
	z-index: -1;
	color: #0a220C;
}

#tree4{
	position: absolute;
	transform: scale(5);
	bottom: 350px;
	right: 530px;
	z-index: -1;
	color: #0a220C;
}

#tree5{
	position: absolute;
	transform: scale(5);
	bottom: 150px;
	right: 100px;
	z-index: -1;
	color: #0a220C;
}

@keyframes twinkle{
	50%{
		transform: scale(0.3);
	}
}

.logo:hover{
	box-shadow: 0px 0px 5px 5px lightblue;
	opacity: 100%;
}

@media screen and (max-width: 1050px){
	.boite{
		margin-top: 80px;
		width: 40%;
	}
	
	.boite > div{
		padding-left: 10px;
		font-size: x-large;
	}

	.fondannime{
		display: none;
	}
}

@media screen and (max-width: 640px){ /* Affichage spécifique pour petite résolution et mobile */

	body{
		margin: 30px;
	}
	
	.barre{
		width: 100%;
	}
	
	
	.icon{
		transition-duration: 0s;
		visibility: hidden;
	}
	
	.icon1{
		transition-duration: 0s;
		visibility: hidden;
	}
	
	.boite{
		margin-top: 80px;
		width: 100%;
	}
	
	.boite > div{
		padding-left: 10px;
		font-size: xx-large;
	}
	
	h2{
		font-size: xx-large;
	}
	
	input{
		width: 100%;
	}
	
	.heure{
		width: 100%;
		text-align: center;
		font-size: xx-large;
	}
	
	.date{
		width: 100%;
		text-align: center;
		font-size: xx-large;
	}

	.API{
		padding-top: 100px;
		font-size: xx-large;
	}

	.logo{
		height: 80px;
		width: 80px;
	}
}
